*,
*:after,
*:before {
	box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
	font-size: 10px;
}

body {
	color: #333333;
	font-weight: lighter;
	font: 400 15px/22px 'Open Sans', 'Helvetica Neue', Sans-serif;
	font-smoothing: antialiased;
	padding: 0;
	margin: 0;
	background: #aadaff;
}

.centered {
	display: flex;
	justify-content: center;
	position: relative;
	top: 30%;
}

.spinner {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.text-center {
	margin: 0;
	padding: 0;
	width: 100%;
	text-align: center;
}

.h-hide-visually {
	visibility: hidden;
}

.h-lock-scroll {
	overflow: hidden !important;
}

.map {
	margin-top: var(--height);
}
