.gm-err-container {
	height: 100%;
	width: 100%;
	display: table;
	background-color: #e0e0e0;
	position: relative;
	left: 0;
	top: 0;
}

.gm-err-content {
	border-radius: 1px;
	padding-top: 0;
	padding-left: 10%;
	padding-right: 10%;
	position: static;
	vertical-align: middle;
	display: table-cell;
}

.gm-err-icon {
	text-align: center;
}

.gm-err-title {
	margin: 5px;
	margin-bottom: 20px;
	color: #616161;
	font-family: Roboto, Arial, sans-serif;
	text-align: center;
	font-size: 24px;
}

.gm-err-message {
	margin: 5px;
	color: #757575;
	font-family: Roboto, Arial, sans-serif;
	text-align: center;
	font-size: 12px;
}

.error {
	width: 100%;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	background: #757575;
	background-image: color(#757575, alpha(50%));
	background-repeat: no-repeat;
	color: white;
	text-align: center;
	line-height: 350%;

	& h1 {
		font-size: 5rem;
		font-weight: 400;
		letter-spacing: 3px;
	}

	& p {
		font-size: 2rem;
		letter-spacing: 2px;
	}
}
