.filter {
	height: 100%;
	width: 25%;

	& input {
		font: inherit;
		height: 60%;
		width: 100%;
		padding: 0.5rem 2rem;
		color: var(--font-color-mid);
		font-size: 1.5rem;
	}

	@media screen and (max-width: 900px) {
		height: auto;
		width: 25%;

		& input {
			min-width: 200px;
		}
	}
}
