.nav {
	position: fixed;
	z-index: 10;
	top: 0;
	left: 0;
	background: var(--color-secondary);
	width: 100%;
	padding: 0 25px;
	height: var(--height);
	line-height: var(--height);
	color: #fff;
	display: flex;
	justify-content: space-between;
	align-items: center;

	@media screen and (max-width: 630px) {
		& .links {
			display: flex;
			flex-direction: column;
			max-height: 100%;
		}
	}

	&__brand {
		text-transform: uppercase;

		text-decoration: none;
		letter-spacing: 1px;
		font-size: 2rem;
		background: transparent;

		&:focused,
		&:active {
			background: rgba(0, 0, 0, 0.15);
		}

		@media screen and (max-width: 900px) {
			font-size: 1.5rem;
		}

		@media screen and (max-width: 540px) {
			display: none;
		}
	}

	& .nav__link {
		text-decoration: none;
		text-transform: uppercase;
		font-size: 1.2rem;
		color: var(--text-color-light);
		border-bottom: 2px solid transparent;
		padding-bottom: 0.5rem;
		transition: all 0.3s;

		&:not(:first-child) {
			margin-left: 2rem;
		}

		&:hover {
			border-bottom: 2px solid var(--color-primary);
		}

		@media screen and (max-width: 630px) {
			text-align: center;
			font-size: 1rem;
			padding: 0;
			margin: 0;
			line-height: 150%;
		}
	}

	/* section {
		position: absolute;
		top: 0px;
		right: 25px;
	} */
}
