.list {
	position: fixed;
	width: 40%;
	margin-top: var(--height);
	height: 100vh;
	right: 0;
	top: 0;
	bottom: 0;
	background: #fff;
	padding: 3rem;
	overflow-y: auto;
	padding-bottom: 7rem;
}

.listItem {
	display: flex;
	border-bottom: 1px solid #eeeeee;
	padding: 10px;
	text-decoration: none;
	cursor: pointer;

	&__title {
		display: inline-block;
		font-size: 1.3rem;

		&:hover {
			color: var(--font-color-mid);
		}
	}

	&:last-child {
		border-bottom: none;
	}
}
