.place {
	position: absolute;
	width: 40%;
	height: 100%;
	left: 0;
	top: 0;
	bottom: 0;
	background: #fff;
}

.review {
	font-size: 1.3rem;
}

.closeIco {
	position: absolute;
	top: 1rem;
	right: 1rem;
	cursor: pointer;
}
